* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-color: #333;
    color: white;
    min-height: 100px;
    font-size: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 30px;
    font-size: 20px;
}
nav {
    background-color: #666;
    padding: 12px 0;
    text-align: center;
}
nav .menu li {
    display: inline;
    margin: 0 8px; /* odstęp między elementami */
}
nav .menu a {
    color: #fff;
    text-decoration: none;
    padding: 4px;
}
main {
    float: left;
    width: 70%;
    background-color: white;
    border: 1px solid #e0e0e0;
    min-height: 700px;
    margin-bottom: 20px;
    padding: 50px;
}
footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    min-height: 50px;
    padding: 15px
}
.contaier {
    display: flex;
}
aside {
    float: right;
    width: 28%;
    background-color: #eeeeee;
    border: 1px solid #e0e0e0;
    min-height: 700px;
    margin-bottom: 20px;

}
section ul {
    font-size: 25px;
    padding: 50px;
    list-style: none;
}