* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.kolumna {
    float: left;
    width: 30%;
    margin: 1.5%;
    background-color: rgb(198, 255, 255);
    padding: 10px;
    outline: auto;
    outline-color: aqua;
    min-height: 200px;
}
.row {
    width: 100%;
}
.clearfix { clear: both; }